body{
    background: linear-gradient(90deg, #FFC87C 0%, #ffaf72 100%);
}

.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar a{
    float: left;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color:  #d83600;
    padding: 10pt;
}

.navbar a:hover {
    background-color: rgba(229, 96, 0, 0.81);
    color: #fbcb98;
}

.right-nav {
    float: right;
}