body{
    background: linear-gradient(90deg, #f8dcc5 0%, #f9ce97 100%);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.80);
    overflow: hidden;
    border-radius: 3pt;
    margin-bottom: 50pt;
}

.navbar a{
    float: left;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color:  #d83600;
    padding: 10pt;
}

.navbar a:hover {
    background-color: #d83600;
    color: white;
}

.right-nav {
    float: right;
}

#greeting {
    margin-right: 10pt;
    font-style: italic;
    color: #992300;
}

#greeting:hover {
    background-color: white;
    color: #d83600;
}