#dashboard li{
    marker: none;
    display: inline-block;
    margin: 20pt;
    padding: 10pt 10pt;

    text-align: center;
    font-size: 10pt;
    font-family: 'Poppins',sans-serif;
    color: #d83600;

}

#dashboard li p {
    margin: 6pt;

}

li:hover{

    size: 20pt;
}

.name{
    text-align: center;
    font-size: 15pt;
    color: #d83600;
    margin: 5pt;
}

img{
    height: 150pt;
    border: 3pt solid rgba(255, 81, 47, 0.12);
    border-radius: 20pt;
    display: block;
}

#accordionBtn{
    border: 1pt solid #d83600;
    border-radius: 5pt;
    background: radial-gradient(#fbcb98 0%, #fca35e 100%);
    color: #d83600;
    padding: 3pt;
    margin-top: 5pt;
}

#subline, h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins',sans-serif;

}
